<% include partials/_header %>
<section>
  <article class="container">
    <div class="row">
      <div class="col-12">
        <h1>Welcome back to Tiny App!</h1>
        <p>If you have an account please login</p>
        <form action="/login" method="POST">
          <div class="row">
            <div class="col-3">
              <label> Email:
              <input class="form-control" type="email" name="email" placeholder="yourname@email.com">
              </label>
            </div>
            <div class="col-3">
              <label> Password:
              <input class="form-control" type="password" name="password" >
              </label>
            </div>
            <div class="col-12">
              <input type="submit" value="Login" />
            </div>
          </div>
        </form>
      </div>
      <p>If you would like to register, click <a href="/register">here</a></p>
    </div>
  </article>
</section>
<% include partials/_footer %>
