<% include partials/_header %>
  <section>
    <article class="container">
      <div class="row">
        <div class="col-12">
      <h1>TinyApp</h1>
      <a href="#">Create New TinyURL</a>
      <h2>TinyURL for <%= longURL %></h2>
      <p><%= shortURL %></p>
      <a href="/urls">See All Urls</a>
      </div>
    </article>
  </section>
  </body>
</html>
